/* Container */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e0e3e4;
}

/* Form Box */
.login-form {
  background-color: #fff;
  padding: 1.9rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 25rem;
}

/* Header */
.login-header {
  margin-bottom: 1.2rem;
  text-align: center;
  color: #223b61;
  font-size: 1.5rem;
}

/* Input Fields */
.login-input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  box-sizing: border-box;
}

/* Button */
.login-button {
  width: 100%;
  padding: 0.9rem;
  background-color: #223b61;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.login-button:hover {
  background-color: #1a2f50;
}

/* Error Message */
.login-error {
  color: red;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  text-align: center;
}

/* Forgot Password */
.forgot-password {
  text-align: right;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.forgot-pass-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}

/* ✅ Responsive adjustments for small screens */
@media (max-width: 580px) and (min-width: 380px) {
  .login-form {
    padding: 15px;
    border-radius: 8px;
  }

  .login-header {
    font-size: 1.3rem;
  }

  .login-input,
  .login-button {
    padding: 10px;
    font-size: .9rem;
  }

  .forgot-pass-link {
    font-size: .8rem;
  }
}

@media (max-width: 380px) {
  .login-form {
    padding: .8rem;
    border-radius: 8px;
  }

  .login-header {
    font-size: 1rem;
  }

  .login-input,
  .login-button {
    padding: .7rem;
    font-size: .7rem;
  }

  .forgot-pass-link {
    font-size: .7rem;
  }
}
