/* Elegant Admin UI Theme */

.property-lists-container {
  padding: 2rem;
  background-color: #e0e3e4;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.property-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.back-button {
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  background-color: #223b61;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #425674;
}

.property-topbar h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #223b61;
}

/* Table */
.property-table {
  width: 100%;
  border-collapse: separate;
  border-style: none;
  border-spacing: 0 0px;
  background-color: transparent;
}

.property-table th {
  text-align: left;
  padding: 12px;
  background-color: #223b61;
  color: white;
  font-size: 0.95rem;
  border-bottom: 2px solid #223b61;
  border-style: none;
}

.property-table td {
  padding: 14px;
  background-color: white;
  color: #223b61;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  border-style: none;
}

.property-table td:last-child, .property-table th:last-child {
  text-align: center;
}

.p-delete-button {
  background-color: #c0392b;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.p-delete-button:hover {
  background-color: #942c23;
}

/* ✅ Responsive adjustments */
@media (max-width: 580px) and (min-width: 410px) {
  .property-lists-container {
    padding: .7rem;
  }

  .property-topbar h2 {
    font-size: 1rem;
  }

  .back-button {
    font-size: .8rem;
    padding: .6rem;
  }

  .property-table th,
  .property-table td {
    padding: 10px;
    font-size: .7rem;
  }

  .p-delete-button {
    font-size: .7rem;
    padding: .4rem;
  }
}

@media (max-width: 410px) and (min-width: 320px) {
    .property-lists-container {
    padding: .7rem;
  }

  .property-topbar h2 {
    font-size: .8rem;
  }

  .back-button {
    font-size: .6rem;
    padding: .6rem;
  }

  .property-table th,
  .property-table td {
    padding: 8px;
    font-size: .55rem;
  }

  .p-delete-button {
    font-size: .6rem;
    padding: .3rem;
  }
}

@media (max-width: 320px) {
    .property-lists-container {
    padding: .5rem;
  }

  .property-topbar h2 {
    font-size: .7rem;
  }

  .back-button {
    font-size: .5rem;
    padding: .4rem;
  }

  .property-table th,
  .property-table td {
    padding: 5px;
    font-size: .45rem;
  }

  .p-delete-button {
    font-size: .4rem;
    padding: .2rem;
  }
}
